/* VARIABLES */
:root { --gap: 2px }

/* COLORS */
:root {
    --background-color: White;
    --color: Black;
    --chatturgha-background-color: LightCoral;
    --ulyaoth-background-color: DeepSkyBlue;
    --xellotath-background-color: SpringGreen;
    --mantorok-background-color: Violet;
    --unaligned-background-color: Khaki;
    --inactive-background-color: White;
    --chatturgha-color: Black;
    --ulyaoth-color: Black;
    --xellotath-color: Black;
    --mantorok-color: Black;
    --unaligned-color: Black;
    --inactive-color: Silver;
    --filter: none;
    --chatturgha-filter: none;
    --ulyaoth-filter: none;
    --xellotath-filter: none;
    --mantorok-filter: none;
    --unaligned-filter: none;
    --inactive-filter: invert(90%) sepia(11%) saturate(0%) hue-rotate(131deg) brightness(85%) contrast(80%);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: Black;
        --color: AntiqueWhite;
        --chatturgha-background-color: rgba(255, 99, 71, .25);
        --ulyaoth-background-color: rgba(0, 191, 255, .25);
        --xellotath-background-color: rgba(0, 255, 127, .25);
        --mantorok-background-color: rgba(238, 130, 238, .25);
        --unaligned-background-color: rgba(240, 230, 140, .25);
        --inactive-background-color: Black;
        --chatturgha-color: Tomato;
        --ulyaoth-color: DeepSkyBlue;
        --xellotath-color: SpringGreen;
        --mantorok-color: Violet;
        --unaligned-color: Khaki;
        --inactive-color: DimGray;
        --filter: invert(88%) sepia(27%) saturate(160%) hue-rotate(26deg) brightness(110%) contrast(92%);
        --chatturgha-filter: invert(47%) sepia(76%) saturate(1573%) hue-rotate(331deg) brightness(101%) contrast(104%);
        --ulyaoth-filter: invert(52%) sepia(86%) saturate(2162%) hue-rotate(163deg) brightness(106%) contrast(105%);
        --xellotath-filter: invert(68%) sepia(93%) saturate(917%) hue-rotate(90deg) brightness(101%) contrast(104%);
        --mantorok-filter: invert(64%) sepia(76%) saturate(512%) hue-rotate(246deg) brightness(97%) contrast(92%);
        --unaligned-filter: invert(91%) sepia(21%) saturate(785%) hue-rotate(358deg) brightness(103%) contrast(88%);
        --inactive-filter: invert(42%) sepia(1%) saturate(1346%) hue-rotate(44deg) brightness(98%) contrast(97%);
    }
}

/* TYPOGRAPHY */
body { font-size: 1rem }
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: .875em;
}
h1 { font-size: 1em }
h2 { font-size: .875em }

/* SIZING AND SPACING */
* { box-sizing: border-box }
html, body { height: 100dvh }
html, body, h1, h2 { margin: 0 }
body, main { padding: var(--gap) }
button { padding: 4px }
img {
    height: 1em;
    margin-right: .25em;
}

/* STYLING */
main, button { border: 1px solid var(--color) }
h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
button > * { vertical-align: middle }
.display-none { display: none }
.name:not(.display-none) + .translation::before { content: ' (' }
.name:not(.display-none) + .translation::after { content: ')' }

/* DISPLAY */
body {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
header, main { flex: 1 }
header, main, section, .button-group {
    display: grid;
    gap: var(--gap);
}
header { grid-template-rows: auto 6dvh }
section { grid-template-rows: 4dvh auto }
.alignments .button-group, .verbs .button-group, .nouns .button-group { grid-template-rows: repeat(2, 6dvh) }
.spells .button-group { grid-template-rows: repeat(5, 6dvh) }
header .button-group { grid-template-columns: repeat(4, 1fr) }
.alignments .button-group, .spells .button-group { grid-template-columns: repeat(2, 1fr) }
.verbs .button-group, .nouns .button-group { grid-template-columns: repeat(3, 1fr) }

/* COLORS */
body, button {
    background-color: var(--background-color);
    color: var(--color);
}
#chatturgha { color: var(--chatturgha-color) }
#chatturgha img { filter: var(--chatturgha-filter) }
#ulyaoth { color: var(--ulyaoth-color) }
#ulyaoth img { filter: var(--ulyaoth-filter) }
#xellotath { color: var(--xellotath-color) }
#xellotath img { filter: var(--xellotath-filter) }
#mantorok { color: var(--mantorok-color) }
#mantorok img { filter: var(--mantorok-filter) }
.unaligned button.selected { color: var(--unaligned-color) !important }
.unaligned button.selected img { filter: var(--unaligned-filter) !important }
.chatturgha button.selected {
    color: var(--chatturgha-color) !important;
    background-color: var(--chatturgha-background-color);
    border-color: var(--chatturgha-color);
}
.chatturgha button.selected img { filter: var(--chatturgha-filter) !important }
.ulyaoth button.selected {
    color: var(--ulyaoth-color) !important;
    background-color: var(--ulyaoth-background-color);
    border-color: var(--ulyaoth-color);
}
.ulyaoth button.selected img { filter: var(--ulyaoth-filter) !important }
.xellotath button.selected {
    color: var(--xellotath-color) !important;
    background-color: var(--xellotath-background-color);
    border-color: var(--xellotath-color);
}
.xellotath button.selected img { filter: var(--xellotath-filter) !important }
.mantorok button.selected {
    color: var(--mantorok-color) !important;
    background-color: var(--mantorok-background-color);
    border-color: var(--mantorok-color);
}
.mantorok button.selected img { filter: var(--mantorok-filter) !important }
.unaligned button.selected {
    background-color: var(--unaligned-background-color);
    border-color: var(--unaligned-color);
}
button.active {
    background-color: var(--unaligned-background-color);
    border-color: var(--unaligned-color);
    color: var(--unaligned-color);
}
button.inactive:not(.blind), button.unavailable:not(.blind) {
    background-color: var(--inactive-background-color);
    border-color: var(--inactive-color);
    color: var(--inactive-color) !important;
}
button.inactive:not(.blind) img, button.unavailable:not(.blind) img { filter: var(--inactive-filter) !important }
button img { filter: var(--filter) }

@media (orientation: landscape) {
    /* DISPLAY */
    header { grid-template-rows: auto 7.25dvh }
    section { grid-template-rows: 5dvh auto }
    .alignments .button-group { grid-template-rows: repeat(4, 1fr) }
    .verbs .button-group, .nouns .button-group { grid-template-rows: auto }
    .spells .button-group { grid-template-rows: repeat(10, 7.25dvh) }
    main { grid-template-columns: repeat(4, 1fr) }
    main .button-group { grid-template-columns: 1fr !important }
}

@media (min-height: calc(2 * 333px)) {
    body { font-size: clamp(1rem, 2.4cqh, 4rem) }
}
